*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px; 
    padding: 0px;
}
a {
    color:inherit;
}
.navbar {
    padding: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
}
.container ul {
    padding-right: 30px;
}
.container .navbar-nav li{
    float: left;
    padding-right: 40px;
    padding-left: 20px;
}

.hi:hover{
    color:rgb(39, 83, 227);
}

.topmenu {
    padding-left: 30px;
    padding-right: 10px;
}

.topmenu li{
    float: left;
    padding-right: 15px;
    padding-left: 5px;
}

#header {
    width: 100%;
    padding: 0.5rem 0 0.3rem 0;
    z-index: 1;
}

.container {
    display: flex;
    justify-content: space-between;
}


.main {
    background-image: url(image/aboutus1-bg2.jpg);
    text-align: center;
    width: 100%;
}

.b{
    height: 500px;
}

h4 {
    padding-top: 200px;
    color: #fff;
}

h3{
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
    font-size: 40px;
}

.value, .text {
    color: #fff;
}

.row {
    display: flex;
    justify-content: center;
}

.b {
    padding: 12px 40px;
}

.num {
    font-size: 60px;
}

.goal {
    background-image: url(image/aboutus2-bg-new.jpg);
    background-size:contain;
    height: 800px;
}

.proof {
    background-image: url(image/aboutus4-bg.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.group {
    background-position: 10% 100px;
}

